<mat-card>
  <mat-grid-list cols="3" rowHeight="609px">
    <mat-grid-tile class="card1">
      <mat-card-content>
         <div class="kom-img">
          <img src="../../../assets/img/image-komsymbol.svg" alt="" width="65%">
          <img src="../../../assets/img/ISO-LEXPLOSION-LOGO-1Rinv.svg" alt="">
         </div>
      </mat-card-content>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
      <mat-card-content>
            <p class="komkulator">
              <img src="../../../assets/img/Komprice (2).svg" alt="" width="200px">
              <span class="routeBtn" *ngIf="intigate == true"><button mat-raised-button color="primary" style="left: 155%;top: 20%;" (click)="routToTheUserPage()">Master Data Form</button></span>
            </p>
            
        <hr style="height:1px;border-width:0;color:gray;background-color:gray">
        <h3>Calculate the price with your own choice</h3>
        
        
        <form [formGroup]= "calculationForm" (ngSubmit)="onCalculationFormSubmit()" >
          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Select Name of the organisation</mat-label>
              <input matInput formControlName="nameOfOrganisation"  >
            </mat-form-field>

            <span style='margin-right:1.2em'>&nbsp;</span>
           
            <mat-form-field  appearance="fill"  >
              <mat-label>Select Number of entities</mat-label>
              <mat-select formControlName="noOfEntities" class="from-control"  name="entity" required>
                <mat-option>Select</mat-option>
                 <mat-option  *ngFor = "let er of entities" [value]="er.entityRange">
                  {{er.entityRange}}
                </mat-option> 
              </mat-select>
            </mat-form-field>

          </div>

          <div class="form-group" style="padding-left: 18px;">
            <mat-form-field appearance="fill">
              <mat-label>Select Industry of operation</mat-label>
              <input matInput formControlName="operatingIndustries" class="from-control" name="operatingIndustries" required>
            </mat-form-field>

            <span style='margin-right:1.2em'>&nbsp;</span>
            
            <mat-form-field class="typeOfIndustryFormFil" appearance="fill"> 
              <mat-label>&nbsp;Select Type of industry </mat-label>
              <mat-select formControlName="typeOfIndustry" class="from-control" name="typeOfIndustry" required>
                <mat-option>Select</mat-option>
                <mat-option  *ngFor = "let er of typeOfIndust" [value]="er.industryTypeName">
                  {{er.industryTypeName}}
                </mat-option>
              </mat-select>
      
            </mat-form-field>
            <!-- <button mat-stroked-button class="questionMarkButton" (click)="openDialog()"><mat-icon class="mat-icon" matPrefix (click)="openDialog()"> question_mark_sharp </mat-icon></button> -->
            <span class="questionMarkButton" (click)="openDialog()"><mat-icon class="mat-icon " matPrefix> question_mark_sharp </mat-icon></span>
          </div>

          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Select Legal structure of the organisation</mat-label>
              <mat-select  formControlName="organisationLegalStructure" class="from-control" name="organisationLegalStructure" required>
                <mat-option>Select</mat-option>
                <mat-option  *ngFor = "let er of legalStracture" [value]="er.structureType">
                  {{er.structureType}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <span style='margin-right:1.2em'>&nbsp;</span>

            <mat-form-field  appearance="fill">
              <mat-label>Select Listing Status</mat-label>
              <mat-select formControlName="organisationListingStatus" class="from-control" name="organisationListingStatus" required>
                <mat-option>Select</mat-option>
                <mat-option  *ngFor = "let er of listingStatus" [value]="er.listingType">
                  {{er.listingType}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-select placeholder="Select Modules" [formControl]="toppings" [(value)]="selectedModules" multiple required>
                <mat-option *ngFor="let topping of moduleList" [value]="topping">{{topping}}</mat-option>
              </mat-select>
            </mat-form-field>

            <!-- <mat-form-field appearance="fill">
              <mat-label>Modules Required</mat-label>
              <mat-select multiple formGroupName="modules">
                <mat-option formControlName="le"  value="le">L&E</mat-option>
                <mat-option formControlName="ehs" value="ehs">EHS</mat-option>
                <mat-option formControlName="indus" value="indus">Industry Specific</mat-option>
                <mat-option formControlName="fiscal" value="fiscal">Fiscal</mat-option>
                <mat-option formControlName="corporate" value="corporate">Corporate</mat-option>
              </mat-select>
            </mat-form-field> -->

            <!-- <mat-form-field appearance="fill" >
              <mat-label>Modules Required</mat-label>
              <mat-select multiple formControlName="modules">
                <mat-option  value="le">L&E</mat-option>
                <mat-option  value="ehs">EHS</mat-option>
                <mat-option  value="indus">Industry Specific</mat-option>
                <mat-option  value="fiscal">Fiscal</mat-option>
                <mat-option  value="corporate">Corporate</mat-option>
              </mat-select>
            </mat-form-field> -->

            <span style='margin-right:1.2em'>&nbsp;</span>
            <mat-form-field  appearance="fill" >
              <mat-label>Select compliance Modules required States</mat-label>
              <mat-select formControlName="statesRequireComplianceModules" class="from-control" name="statesRequireComplianceModules" required>
                <mat-option>Select</mat-option>
                <mat-option  *ngFor = "let er of states" [value]="er.stateRange">
                  {{er.stateRange}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Select Number of licenses</mat-label>
              <mat-select formControlName="noOfLicenseRequired" name="noOfLicenseRequired" required>
                <mat-option>Select</mat-option>
                <mat-option value="25">25</mat-option>
                <mat-option value="50">50</mat-option>
                <mat-option value="75">75</mat-option>
                <mat-option value="100">100</mat-option>
                <mat-option value="Enterprise">Enterprise</mat-option>
              </mat-select>
            </mat-form-field>
            <span style='margin-right:1.2em'>&nbsp;</span>
            <mat-form-field  appearance="fill" >
              <mat-label>Select Contract Term (Minimum of 2 years)</mat-label>
              <mat-select formControlName="contractTerm" name="contractTerm" required>
                <mat-option>Select</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="5">5</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="submitbtn">
            <button mat-raised-button color="primary" type="submit">Calculate</button>
          </div>
          
        </form>
        <div class="totalCalculatedPrice" [style.visibility]="(numberOfUnreadAlerts == 0) ? 'hidden' : 'visible'">
          <h3><span>One Time fee - &nbsp;</span> &nbsp; &#8377; {{calcultedOneTimeFee | number}} <br>
          <span>Monthly Subscription Price - &nbsp;</span> &nbsp; &#8377; {{monthlySubscription | number}} </h3>
        </div>
      </mat-card-content>
    </mat-grid-tile>
  </mat-grid-list>
 
</mat-card>
