<div class="container">
   <div style="text-align:right; padding-right: 60px;">
      <button mat-raised-button color="primary" type="button" (click)="sheet9()">Previous</button>
      <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <button mat-raised-button color="primary" type="button" (click)="admin()">Next</button>
  </div>
   <div class="content">
      <mat-card class="maincard">
         <mat-tab-group >
            <!-- content customisation -- start -->
            <mat-tab label="Content customisation">
               <div class="tab__content">
                  <div class="blue-ribon">
                     Content Customization
                  </div>
                  <div class="content-eliment">
                     <div class="txt-box1">
                        <h3 class="m-0">Man Days effort for customization per new client (in days)</h3>
                     </div>
                     <div class="blue-txt-box1">
                        <h3 class="m-0">{{AdminData[0].manDays | number:'1.0-0'}}</h3>
                     </div>
                  </div>
                  <mat-card>
                     <form *ngIf="ContentCustomizationData.length"   [formGroup]="calculationForm" (ngSubmit)="contentCustomizationUpdate(calculationForm)">
                     <table >
                        <thead>
                           <tr class="table-container-top2">
                              <th scope="col">Resource Mix</th>
                              <th scope="col">Men</th>
                              <th scope="col">Ratio</th>
                              <th scope="col">Number of Man Days</th>
                              <th scope="col">Man Month</th>
                              <th scope="col">Monthly CTC(INR)</th>
                              <th scope="col">Total(INR)</th>
                           </tr>
                        </thead>
                        <tbody formArrayName="contentCustomizations">
                           <ng-container *ngFor="let tbleObj of contentCustomizationArray.controls;let i=index">
                              <tr [formGroupName]="i">
                                 <td>{{i==0 ? "Supervisor" : ""}}</td>
                                 <td>
                                    {{tbleObj.get('manForContentCustomization')?.value}}
                                 </td>
                                 <td>
                                    <input formControlName="manRatio" type="text" class="form-control" >
                                 </td>
                                 <td>{{tbleObj.get('noOfManDays')?.value}}</td>
                                 <td>{{tbleObj.get('manMonth')?.value}}</td>
                                 <td >
                                    <input formControlName="manMonthlyCtc" type="text" class="form-control">
                                 </td>
                                 <td>{{tbleObj.get('valueForMan')?.value}}</td>
                              </tr>
                           </ng-container>
                        </tbody>
                     </table>

                     <mat-card-content>
                        <mat-grid-list class="belowTable" cols="2" rowHeight="3:1" *ngFor="let tbleObj of hostingChargeArray.controls;let i=index">
                           <mat-grid-tile>
                              <div class="fromFild">
                                 <mat-card-header class="blueSubHeader">
                                    <h2>Number of available hours per month per resource</h2>
                                 </mat-card-header>
                                 <div class="fromContent">
                                    <mat-card-content>
                                       <div>
                                          <h2>{{AdminData[0].daysAvailable | number:'1.0-0'}}</h2>
                                       </div>
                                    </mat-card-content>
                                 </div>
                              </div>
                           </mat-grid-tile>
                           <span class="vertical-line"></span>
                           <mat-grid-tile>
                              <div class="fromFild">
                                 <mat-card-header class="blueSubHeader">
                                    <h2>Productivity %</h2>
                                 </mat-card-header>
                                 <div class="fromContent">
                                    <mat-card-content>
                                       <div>
                                          <h2>{{tbleObj.get('occupancyPercent')?.value}}</h2>
                                       </div>
                                    </mat-card-content>
                                 </div>
                              </div>
                           </mat-grid-tile>
                        </mat-grid-list>
                     </mat-card-content>
                     <div class="blue-ribon2"></div>
                     <div class="boader">
                        <button mat-raised-button class="button" color="basic" type="button" (click)="resetForm()">Reset</button>
                        <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <button mat-raised-button class="button" color="primary" type="submit">Update</button>
                     </div>
                     </form>
                  </mat-card>
                  <mat-card>
                     <div class="box">
                        <div class="col-sm-10 blue-ribon">Total Cost for Content Updates</div>
                        <div class="col-sm-2 blue-ribon">{{totalContentCost | number}}</div>
                     </div>
                     <div class="buttonDiv">
                        <!-- <button mat-raised-button class="button" color="primary" type="button">Save</button>
                        <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <button mat-raised-button class="button" color="basic" type="button">Cancel</button> -->
                     </div>
                  </mat-card>
               </div>
            </mat-tab>
            <!-- content customisation -- end--------->
            <!-- Content update -- start--------->
            <mat-tab label="Content update">
               <div class="tab__content">
                  <div class="blue-ribon">
                     Content Updates
                  </div>
                  <div class="content-eliment">
                     <div class="txt-box1">
                        <h3 class="m-0">Man Days effort required for updates per client Per Year(in days)</h3>
                     </div>
                     <div class="blue-txt-box1">
                        <h3 class="m-0">{{AdminData[0].manDaysEffort | number:'1.0-0'}}</h3>
                     </div>
                  </div>
                  <mat-card>
                     <form [formGroup]="contentUpdateForm" (ngSubmit)="contentUpdateUpdate(contentUpdateForm)">
                     <table>
                        <thead>
                           <tr class="table-container-top2">
                              <th scope="col">Resource Mix</th>
                              <th scope="col">Men</th>
                              <th scope="col">Ratio</th>
                              <th scope="col">Number of Man Days</th>
                              <th scope="col">Man Month</th>
                              <th scope="col">Monthly Payout</th>
                              <th scope="col">Monthly CTC(INR)</th>
                              <th scope="col">Total(INR)</th>
                           </tr>
                        </thead>
                        <tbody formArrayName="contentUpdates">
                           <ng-container *ngFor="let tableObj of contentUpdateArray.controls;let i=index">
                              <tr [formGroupName]="i">
                                 <td>{{i==0 ? "Supervisor" : "" ||i==1 ? "Sr. Manager" : "" ||i==2 ? "Assistant Managerr" : ""}}</td>
                                 <td>{{tableObj.get('manForContentUpdates')?.value}}</td>
                                 <td>
                                    <div>
                                       <input type="text" formControlName="manRatio"  class="form-control" >
                                    </div>
                                 </td>
                                 <td>{{tableObj.get('noOfManDays')?.value}}</td>
                                 <td>{{tableObj.get('manMonth')?.value}}</td>
                                 <td>{{tableObj.get('manMonthlyCtc')?.value}}</td>
                                 <td>
                                    <div>
                                       <input type="text" formControlName="manMonthlyCtc" class="form-control" >
                                    </div>
                                 </td>
                                 <td>{{tableObj.get('valueForMan')?.value}}</td>
                              </tr>
                           </ng-container>
                        </tbody>
                     </table>
                     <mat-card-content>
                        <mat-grid-list class="belowTable" cols="2" rowHeight="3:1" *ngFor="let tbleObj of hostingChargeArray.controls;let i=index">
                           <mat-grid-tile>
                              <div class="fromFild">
                                 <mat-card-header class="blueSubHeader">
                                    <h2>Number of available hours per month per resource</h2>
                                 </mat-card-header>
                                 <div class="fromContent">
                                    <mat-card-content>
                                       <div>
                                          <h2>{{AdminData[0].daysAvailable | number:'1.0-0'}}</h2>
                                       </div>
                                    </mat-card-content>
                                 </div>
                              </div>
                           </mat-grid-tile>
                           <span class="vertical-line"></span>
                           <mat-grid-tile>
                              <div class="fromFild">
                                 <mat-card-header class="blueSubHeader">
                                    <h2>Productivity %</h2>
                                 </mat-card-header>
                                 <div class="fromContent">
                                    <mat-card-content>
                                       <div>
                                          <h2>{{tbleObj.get('occupancyPercent')?.value}}</h2>
                                       </div>
                                    </mat-card-content>
                                 </div>
                              </div>
                           </mat-grid-tile>
                        </mat-grid-list>
                     </mat-card-content>
                     <div class="blue-ribon2"></div>
                     <div class="boader">
                        <button mat-raised-button class="button" color="basic" type="button" (click)="resetForm()">Reset</button>
                        <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <button mat-raised-button class="button" color="primary" type="submit" >Update</button>
                     </div>
                     </form>
                  </mat-card>
                  <mat-card>
                     <div class="box">
                        <div class="col-sm-10 blue-ribon">Total Cost for Content Updates</div>
                        <div class="col-sm-2 blue-ribon">{{totalContentUpdateCost | number}}</div>
                     </div>
                     <div class="buttonDiv">
                        <!-- <button mat-raised-button class="button" color="primary" type="button">Save</button>
                        <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <button mat-raised-button class="button" color="basic" type="button">Cancel</button> -->
                     </div>
                  </mat-card>
               </div>
            </mat-tab>
            <!-- Content update -- end--------->
            <!-- Customer support -- start--------->

            
            <mat-tab label="Customer support">
               <div class="tab__content">
                  <div class="blue-ribon">
                     Customer Support - Cost per license per annum
                  </div>
               </div>
               
               <mat-card class="customSupportCard">
                  
                  <form [formGroup]="customerSupportForm" (ngSubmit)="customerSupportUpdate(customerSupportForm)">
                  <table class="customSupportTable">
                     <thead>
                        <tr class="table-container-top3">
                           <th scope="col">Resource Mix</th>
                           <th scope="col">Content Custom Men</th>
                           <th >Ratio</th>
                           <th scope="col">Number of Man Days</th>
                           <th scope="col">Man Month</th>
                           <th scope="col">Call Per User</th>
                           <th scope="col">Time Per Call</th>
                           <th scope="col">Monthly Payout</th>
                           <th scope="col">Monthly CTC(INR)</th>
                           <th scope="col">Total(INR)</th>
                        </tr>
                     </thead>
                     <tbody formArrayName="customerSupport">
                        <ng-container *ngFor="let tbleObj of customerSupportArray.controls;let i=index">
                           <tr [formGroupName]="i">
                              <td>{{i==0 ? "Team Lead" : ""}}</td>
                              <td>{{tbleObj.get('manForCustomerSupport')?.value}}</td>
                              <td>
                                 <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Text input" formControlName="manRatio">
                                 </div>
                              </td>
                              <td>{{tbleObj.get('noOfManDays')?.value| number:'1.0-0'}}</td>
                              <td>{{tbleObj.get('manMonth')?.value | number:'1.0-0'}}</td>
                              <td>
                                 <div >
                                    <input type="text" class="form-control" formControlName="callsPerUser">
                                 </div>
                              </td>
                              <td >
                                 <div>
                                    <input type="text" class="form-control" formControlName="timePerCall">
                                 </div>
                              </td>
                              <td>
                                 <div >
                                    <input type="text" class="form-control" formControlName="monthlyPayout">
                                 </div>
                              </td>
                              <td >
                                 <div>
                                    <!-- <input type="text" class="form-control" formControlName="monthlyCtc"> -->
                                    {{tbleObj.get('monthlyCtc')?.value}}
                                 </div>
                              </td>
                              <td>{{tbleObj.get('valueForMan')?.value}}</td>
                           </tr>
                        </ng-container>
                     </tbody>
                  </table>
                  <br>
                  <br>
                  <div class="box">
                     <div class="col-sm-10 blue-ribon">Number of days available per month per resource</div>
                     <div class="col-sm-2 blue-ribon">{{AdminData[0].manDaysEffort | number:'1.0-0'}}</div>
                  </div>
                  <div class="buttonDiv">
                     <button mat-raised-button class="button" color="basic" type="button" (click)="resetForm()">Reset</button>
                     <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                     <button mat-raised-button class="button" color="primary" type="submit">Update</button>
                  </div>
               </form>
               </mat-card>

               <mat-card-content class="card2">
                  <mat-grid-list class="belowTable2" cols="2" rowHeight="3:1">

                     <mat-grid-tile>
                        <div class="fromFild">
                           <mat-card-header class="header1">
                              <h1>Productivity %</h1>
                           </mat-card-header>
                           <div class="fromContent">
                              <mat-card-content *ngFor="let tbleObj of hostingChargeArray.controls;let i=index">
                                 <div>
                                    <h2>{{tbleObj.get('occupancyPercent')?.value}}</h2>
                                 </div>
                              </mat-card-content>
                           </div>
                        </div>
                     </mat-grid-tile>
                     
                     <span class="vertical-line"></span>

                     <mat-grid-tile>
                        <div class="fromFild">
                           <mat-card-header class="header1">
                              <h1>Required Man Days</h1>
                           </mat-card-header>
                           <div class="fromContent">
                              <mat-card-content *ngFor="let tbleObj of customerSupportArray.controls;let i=index">
                                 <div *ngIf="i==0">
                                    <h2>{{tbleObj.get('requiredManDays')?.value | number:'1.1'}}</h2>
                                 </div>
                              </mat-card-content>
                           </div>
                        </div>
                     </mat-grid-tile>

                  </mat-grid-list>
               </mat-card-content>


               
               
               <mat-card>
                  <div class="box">
                     <div class="col-sm-10 blue-ribon">Total Cost for Content Updates</div>
                     <div class="col-sm-2 blue-ribon">{{costPerLicensePerAnnum | number}}</div>
                  </div>
                  <div class="buttonDiv">
                     <!-- <button mat-raised-button class="button" color="primary" type="button">Save</button>
                     <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                     <button mat-raised-button class="button" color="basic" type="button">Cancel</button> -->
                  </div>
               </mat-card>
            </mat-tab>
            <!-- Customer support -- end--------->
            <!-- Application management -- start--------->
            <mat-tab label="Application management">
               <!-- <form [formGroup]="appManagementForm" (ngSubmit)="updateAppManagement(appManagementForm)"> -->
               <div class="tab__content">
                  <div class="blue-ribon">
                     Application Management - Cost per license per annum
                  </div>
               </div>
               <mat-card>
                <form [formGroup]="appManagementForm" (ngSubmit)="updateAppManagement(appManagementForm)">
                     <div class="content-eliment1">
                        <table>
                           <thead>
                              <tr class="table-container-top2">
                                 <th scope="col">Name</th>
                                 <th scope="col">Value</th>
                              </tr>
                           </thead>
                           <tbody formArrayName="applicationManagements" *ngFor="let tbleObj of appManagementArray.controls;let i=index">
                              <ng-container [formGroupName]="i">
                                 <tr>
                                    <td  >Number of Servers managed per resource</td>
                                    <td  >
                                       <div class="input-box">
                                          <div class="form-group">
                                             <input type="text" class="form-control" formControlName="noOfServers">
                                          </div>
                                       </div>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>Resource Cost CTC</td>
                                    <td>
                                       <div class="input-box">
                                          <div class="form-group">
                                             <input type="text" class="form-control" formControlName="resourceCostCtc">
                                          </div>
                                       </div>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td  >Number of licenses per server</td>
                                    <td  >
                                       <div class="input-box">
                                          <div class="form-group">
                                             <input type="text" class="form-control" formControlName="noOfLicensePerServer">
                                          </div>
                                       </div>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td  >Cost per license per month</td>
                                    <td  >
                                       <div class="input-box">
                                          <div class="form-group">
                                             <input type="text" class="form-control" formControlName="costPerLicense">
                                          </div>
                                       </div>
                                    </td>
                                 </tr>
                              </ng-container>
                           </tbody>
                        </table>
                        <div class="buttonDiv">
                           <button mat-raised-button class="button" color="basic" type="button" (click)="resetForm()">Reset</button>
                           <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                           <button mat-raised-button class="button" color="primary" type="submit">Update</button>                     
                        </div>
                     </div>
                    
                     <mat-card-content class="card2">
                        <mat-grid-list class="belowTable2" cols="2" rowHeight="3:1">
                           <mat-grid-tile>
                              <div class="fromFild">
                                 <mat-card-header class="header1">
                                    <h1>Occupancy %</h1>
                                 </mat-card-header>
                                 <div class="fromContent">
                                    <mat-card-content *ngFor="let tbleObj of hostingChargeArray.controls;let i=index">
                                       <div>
                                          <h2>{{tbleObj.get('occupancyPercent')?.value}}</h2>
                                       </div>
                                    </mat-card-content>
                                 </div>
                              </div>
                           </mat-grid-tile>
                           <span class="vertical-line"></span>
                           <mat-grid-tile>
                              <div class="fromFild">
                                 <mat-card-header class="header1">
                                    <h1>Required Man Days</h1>
                                 </mat-card-header>
                                 <div class="fromContent">
                                    <mat-card-content *ngFor="let tbleObj of customerSupportArray.controls;let i=index">
                                       <div *ngIf="i==0">
                                          <h2>{{tbleObj.get('requiredManDays')?.value | number:'1.1'}}</h2>
                                       </div>
                                    </mat-card-content>
                                 </div>
                              </div>
                           </mat-grid-tile>
                        </mat-grid-list>
                       
                        
                       
                     </mat-card-content>
                  </form>
               </mat-card>
               <mat-card *ngFor="let tbleObj of appManagementArray.controls">
                  <div class="box">
                     <div class="col-sm-10 blue-ribon">Cost Per license per annum</div>
                     <div class="col-sm-2 blue-ribon">{{(tbleObj.get('costPerLicense')?.value)*12}}</div>
                  </div>
                  <div class="buttonDiv">
                     <!-- <button mat-raised-button class="button" color="primary" type="submit">Update</button>
                     <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                     <button mat-raised-button class="button" color="basic" type="button" (click)="resetForm()">Cancel</button> -->    
                  </div>
               </mat-card>
               <!-- </form> -->
            </mat-tab>
            <!-- Application management -- end--------->


            <!--Hosting Chargest start-->
            <mat-tab label="Hosting charges">
               <div class="">
                  <div class="blue-ribon">
                     Hosting Charges - Cost per license per annum
                  </div>
               </div>
               <mat-card>
                  <form [formGroup]="hostingChargeForm" (ngSubmit)="hostingChargeUpdate(hostingChargeForm)">
                     <div class="tableHost">
                        <table>
                           <thead>
                              <tr class="table-container-top2">
                                 <th scope="col">Name</th>
                                 <th scope="col">Value</th>
                              </tr>
                           </thead>
                           <tbody formArrayName="hostingCharges" *ngFor="let val of hostingChargeArray.controls; let i=index">
                           <ng-container [formGroupName]="i">
                              <tr>
                                 <td>Cost per  server per month</td>
                                    <td>
                                       <div class="form-group">
                                          <input type="text" class="form-control" formControlName="costPerServer">
                                       </div>
                                    </td>
                                 </tr>
                              <tr>
                                    <td  >Number of licenses per server</td>
                                    <td> 
                                       <div class="form-group">
                                          <input type="text" class="form-control" formControlName="licensePerServer">
                                       </div>
                                    </td>
                              </tr>
                              <tr>
                                    <td>Occupancy %</td>
                                    <td>
                                       <div class="form-group">
                                          <input type="text" class="form-control" formControlName="occupancyPercent">
                                       </div>
                                    </td>
                              </tr>
                              <tr>
                                    <td>Cost per license per month</td>
                                    <td>
                                       <div><h3>{{val.get('costPerLicense')?.value}}</h3></div>
                                    </td>
                              </tr>
                           </ng-container>
                           </tbody>
                        </table>
                     </div>
                     <div class="buttonDiv">
                        <button mat-raised-button class="button" color="basic" type="button" (click)="resetForm()">Reset</button>
                        <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <button mat-raised-button class="button" color="primary" type="submit">Update</button>
                     </div>
                  </form>
               </mat-card>
               <mat-card *ngFor="let val of hostingChargeArray.controls">
                  <div class="box">
                     <div class="col-sm-10 blue-ribon">Cost per license per annum</div>
                     <div class="col-sm-2 blue-ribon">{{(val.get('costPerLicense')?.value)*12}}</div>
                  </div>
                  <div class="buttonDiv">
                     <!-- <button mat-raised-button class="button" color="primary" type="button">Save</button>
                     <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                     <button mat-raised-button class="button" color="basic" type="button">Cancel</button> -->
                  </div>
               </mat-card>
            </mat-tab>
            <!--Hosting Charges end-->
            <!--Software Development & Update start-->
            <mat-tab label="Software development and update">
               <div class="tab__content">
                  <div class="blue-ribon">
                     Software Development 
                  </div>
                  <mat-card>
                     <form [formGroup]="softwerDevelopmentForm" (ngSubmit)="softwerDevUpdate(softwerDevelopmentForm)">
                     <div class="tableHost2">
                        <table>
                           <thead>
                              <tr class="table-container-top2">
                                 <th scope="col">Name</th>
                                 <th scope="col">Value</th>
                              </tr>
                           </thead>
                           <tbody formArrayName="softwareDevelopmentAndCosts"  *ngFor="let tableObj of softwerDevelopmentArray.controls;let i=index">
                              <tr [formGroupName]="i">
                                 <td>Payment made to IQSS for Software Development</td>
                                 <td>
                                    <div class="input-box">
                                       <div class="form-group">
                                          <input type="text" class="form-control" formControlName="paymentToIQSS" >
                                       </div>
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <div class="buttonDiv">
                        <button mat-raised-button class="button" color="basic" type="button" (click)="resetForm()">Reset</button>
                        <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <button mat-raised-button class="button" color="primary" type="submit">Update</button>
                     </div>
                  </form>
                  </mat-card>

                  <div class="blue-ribon">
                     Software Update 
                  </div>

                  <mat-card>
                     <form [formGroup]="softwerUpdateForm" (ngSubmit)="softwerUpdate(softwerUpdateForm)">
                     <div class="tableHost3">
                        <table>
                           <thead>
                              <tr class="table-container-top2">
                                 <th scope="col">Name</th>
                                 <th scope="col">Value</th>
                              </tr>
                           </thead>
                           <tbody formArrayName="softwareUpdates" *ngFor="let tbleObj of softwerUpdateArray.controls;let i=index">
                              <ng-container [formGroupName]="i">
                              <tr>
                                 <td  >Annual Software spend planned</td>
                                 <td><input type="text" formControlName="softwareSpend"></td>
                              </tr>
                              <br>
                              <tr>
                                 <td  >Number of new clients added	</td>
                                 <td  >
                                    <div class="input-box">
                                       {{tbleObj.get('newClientsAdded')?.value}}
                                    </div>
                                 </td>
                              </tr>
                              <br>
                              <tr>
                                 <td  >Average license per client</td>
                                 <td  >
                                       <div>
                                          <input type="text" class="form-control" formControlName="averageLicensePerClient" >
                                       </div>
                                 </td>
                              </tr>
                              <br>
                              <tr>
                                 <td  >Probabilty %</td>
                                 <td  >
                                    <div class="input-box">
                                       {{tbleObj.get('probabilityPercent')?.value}}
                                    </div>
                                 </td>
                              </tr>
                              <br>
                              <tr>
                                 <td  >Cost per client per annum</td>
                                 <td  >
                                    <div class="input-box">
                                       {{tbleObj.get('costPerClient')?.value}}
                                    </div>
                                 </td>
                              </tr>
                           </ng-container>
                           </tbody>
                        </table>
                     </div>
                     <div class="buttonDiv">
                        <button mat-raised-button class="button" color="basic" type="button" (click)="resetForm()">Reset</button>
                        <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <button mat-raised-button class="button" color="primary" type="submit">Update</button>
                     </div>
                  </form>
                  </mat-card>
                  <mat-card *ngFor="let tableObj of softwerDevelopmentArray.controls;">
                     <div class="box">
                        <div class="col-sm-10 blue-ribon">Software Development Cost Capitalised</div>
                        <div class="col-sm-2 blue-ribon">{{tableObj.get('contentCostCapitalised')?.value | number}}</div>
                     </div>
                     <div class="box">
                        <div class="col-sm-10 blue-ribon">Cost per license per annum</div>
                        <div class="col-sm-2 blue-ribon">{{tableObj.get('paymentToIQSS')?.value | number}}</div>
                     </div>
                     <div class="buttonDiv">
                           <!-- <button mat-raised-button class="button" color="primary" type="button">Save</button>
                           <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                           <button mat-raised-button class="button" color="basic" type="button">Cancel</button> -->
                     </div>
                  </mat-card>
               </div>
            </mat-tab>
            <!--Software Development & Update end-->
            <!--Content Cost start-->
            <mat-tab label="Content cost">
               <div class="tab__content">
                  <div class="blue-ribon">
                     Content Cost 
                  </div>
                  <div class="coll2">
                     <h3>Content Cost Capitalised in FY 11-12 and FY 12-13</h3>
                  </div>
               </div>
               <mat-card>
                  <div class="tableHost">
                     <table>
                        <thead>
                           <tr class="table-container-top2">
                              <th scope="col">Financial year</th>
                              <th scope="col">Amount(INR)</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td  >FY 11-12</td>
                              <td  >
                                 <div class="input-box">
                                    <div class="form-group">
                                       <input type="text" class="form-control" placeholder="Text input" >
                                    </div>
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td  >FY 12-13</td>
                              <td  >
                                 <div class="input-box">
                                    <div class="form-group">
                                       <input type="text" class="form-control" placeholder="Text input" value="1,00,000">
                                    </div>
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  <div class="buttonDiv">
                     <button mat-raised-button class="button" color="basic" type="button">Reset</button>
                     <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                     <button mat-raised-button class="button" color="primary" type="button">Check</button>
                  </div>
               </mat-card>
               <mat-card>
                     <div class="box" *ngFor="let tableObj of softwerDevelopmentArray.controls;let i=index">
                        <div class="col-sm-10 blue-ribon">Content Cost Capitalised</div>
                        <div class="col-sm-2 blue-ribon">{{tableObj.get('contentCostCapitalised')?.value | number}}</div>
                     </div>
                  <div class="buttonDiv">
                     <!-- <button mat-raised-button class="button" color="primary" type="button">Save</button>
                     <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                     <button mat-raised-button class="button" color="basic" type="button">Cancel</button> -->
                  </div>
               </mat-card>
            </mat-tab>
            <!--Content Cost end-->
            <!--Komrisk Marketing Spend start-->
            <mat-tab label="Komrisk Marketing Spend">
               <div class="tab__content">
                  <div class="blue-ribon">
                     Komrisk Marketing Spend
                  </div>
               </div>
               <mat-card>
                  <form [formGroup]="marketingSpendForm" (ngSubmit)="marketingSpendUpdate(marketingSpendForm)">
                  <div class="tableHost">
                     <table>
                        <thead>
                           <tr class="table-container-top2">
                              <th scope="col">Name</th>
                              <th scope="col">Value</th>
                           </tr>
                        </thead>
                        <tbody formArrayName="marketingSpends" *ngFor="let val of marketingSpendFormArray.controls let i=index">
                           <ng-container [formGroupName]="i">
                           <tr>
                              <td  >Marketing Spend per Annum</td>
                              <td  >
                                 <div class="input-box">
                                    <div class="form-group">
                                       <input type="text" class="form-control" formControlName="marketingSpendPerYear">
                                    </div>
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td  >Number of new Komrisk Clients</td>
                              <td  >
                                 <div class="input-box">
                                    <div class="form-group">
                                       <h2>{{val.get('komriskClients')?.value}}</h2>
                                    </div>
                                 </div>
                              </td>
                           </tr>
                        </ng-container>
                        </tbody>
                     </table>
                  </div>
                  <div class="buttonDiv">
                     <button mat-raised-button class="button" color="basic" type="button" (click)="resetForm()">Reset</button>
                     <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                     <button mat-raised-button class="button" color="primary" type="submit">Update</button>
                  </div>
               </form>
               </mat-card>
               <mat-card *ngFor="let val of marketingSpendFormArray.controls let i=index">
                  <div class="box">
                     <div class="col-sm-10 blue-ribon">Marketing spend per Komrisk Client per annum (INR)</div>
                     <div class="col-sm-2 blue-ribon">{{(val.get('marketingSpendPerYear')?.value)}}</div>
                  </div>
                  <div class="box"></div>
               </mat-card>
               <!--Komrisk Marketing Spend end-->
            </mat-tab>
         </mat-tab-group>
      </mat-card>
   </div>
</div>