<mat-card>
    <img src="../../../assets/img/Komprice (2).svg" alt="" width="200px">
    <div style="text-align:right; padding-right: 10px;">
        <button mat-raised-button color="primary" type="button" (click)="sheet3()">Previous</button>
        <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <button mat-raised-button color="primary" type="button" (click)="sheet1()">Next</button>
    </div>
    <hr class="new1">
    <mat-card-content>
        <mat-accordion class="newCard">
            <mat-expansion-panel>
                
              <mat-expansion-panel-header>
    
                <mat-panel-title>
                    Company Type
                </mat-panel-title>
               
              </mat-expansion-panel-header>
              <form [formGroup]="companyTypeFormGroup" (ngSubmit)="companyTypeUpdate(companyTypeFormGroup)">
              <table >
                <thead>
                    <tr class="table-container-top2">
                        <th scope="col" class="w-70">Name</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody formArrayName="companyTypes" *ngFor="let tableObj of companyTypeArray.controls let i=index">
                    <tr [formGroupName]="i">
                        <td class="text-table-value" data-label="NA">{{tableObj.get('companyTypeName')?.value}}</td>
                        <td data-label="NA">
                        <div class="input-box text-align-center">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="companyTypeValue">
                            </div>
                        </div>
                        </td>
                    </tr>
                </tbody>
                </table>
                <div class="boader">
                    <button mat-raised-button class="button" color="basic" type="button" (click)="resetFrom()">Reset</button>
                    <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <button mat-raised-button class="button" color="primary" type="submit">Update</button>
                </div>
                </form>
            </mat-expansion-panel>
    
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Company Revenue
                </mat-panel-title>
                
              </mat-expansion-panel-header>
              <form [formGroup]="CompanyRevenueFormGroup">
              <table>
                <thead>
                    <tr class="table-container-top2">
                        <th scope="col" class="w-70">Name</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody formArrayName="companyRevenues" *ngFor="let tableObj of companyRevenueArray.controls let i=index">
                    <tr [formGroupName]="i">
                        <td class="text-table-value" data-label="NA">{{tableObj.get('revenueRange')?.value}}</td>
                        <td data-label="NA">
                        <div class="input-box text-align-center">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="revenueRangeValue">
                            </div>
                        </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <div class="boader">
                <button mat-raised-button class="button" color="basic" type="button" (click)="resetFrom()">Reset</button>
                <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <button mat-raised-button class="button" color="primary" type="submit">Update</button>
              </div>
            </form>
            </mat-expansion-panel>
    
            <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
    
          <mat-panel-title>
            Headcount
          </mat-panel-title>
           
        </mat-expansion-panel-header>
        <form [formGroup]="HeadCountGroup">
        <table>
            <thead>
                <tr class="table-container-top2">
                    <th scope="col" class="w-70">Name</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody formArrayName="headcounts" *ngFor="let tableObj of headCountArray.controls; let i=index">
                <tr [formGroupName]="i">
                    <td class="text-table-value" data-label="NA">{{tableObj.get('headcountRange')?.value}}</td>
                    <td data-label="NA">
                    <div class="input-box text-align-center">
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="headcountRangeValue">
                        </div>
                    </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="boader">
            <button mat-raised-button class="button" color="basic" type="button" (click)="resetFrom()">Reset</button>
            <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <button mat-raised-button class="button" color="primary" type="submit">Update</button>
          </div>
        </form>
        </mat-expansion-panel>
    
            <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Legal structure of the Organisation
          </mat-panel-title>
           
        </mat-expansion-panel-header>
        <form [formGroup]="LegalStractureFormGroup">
        <table> 
            <thead>
                <tr class="table-container-top2">
                    <th scope="col" class="w-70">Name</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody formArrayName="legalStructures" *ngFor="let tableObj of legalStractureArray.controls let i=index">
                <tr>
                    <td class="text-table-value" data-label="NA">{{tableObj.get('structureType')?.value}}</td>
                    <td data-label="NA">
                    <div class="input-box text-align-center">
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="structureValue">
                        </div>
                    </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="boader">
            <button mat-raised-button class="button" color="basic" type="button" (click)="resetFrom()">Reset</button>
            <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <button mat-raised-button class="button" color="primary" type="submit">Check</button>
          </div>
        </form>
             </mat-expansion-panel>
    
             <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Legal structure of the Organisation
          </mat-panel-title>
           
        </mat-expansion-panel-header>
        <table>
            <thead>
                <tr class="table-container-top2">
                    <th scope="col" class="w-70">Name</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-table-value" data-label="NA">Public Limited Company</td>
                    <td data-label="NA">
                    <div class="input-box text-align-center">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Text input" value="1.75">
                        </div>
                    </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-table-value" data-label="NA">Private Limited Company</td>
                    <td data-label="NA">
                    <div class="input-box text-align-center">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Text input" value="1.75">
                        </div>
                    </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="boader">
            <button mat-raised-button class="button" color="basic" type="button">Reset</button>
            <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <button mat-raised-button class="button" color="primary" type="button">Check</button>
          </div>
        </mat-expansion-panel> 
    
             <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            No of Entites
          </mat-panel-title>
           
        </mat-expansion-panel-header>
        <table>
            <thead>
                <tr class="table-container-top2">
                    <th scope="col" class="w-70">Name</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-table-value" data-label="NA">1 entity</td>
                    <td data-label="NA">
                    <div class="input-box text-align-center">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Text input" value="1">
                        </div>
                    </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="boader">
            <button mat-raised-button class="button" color="basic" type="button">Reset</button>
            <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <button mat-raised-button class="button" color="primary" type="button">Check</button>
          </div>
            </mat-expansion-panel>
    
            <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
             No of Entites
          </mat-panel-title>
           
        </mat-expansion-panel-header>
        <form [formGroup]="EntitiesFormGroup" (ngSubmit)="entitiesUpdate(EntitiesFormGroup)">
        <table>
            <thead>
                <tr class="table-container-top2">
                    <th scope="col" class="w-70">Name</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody formArrayName="entities" *ngFor="let tableObj of entitiesArray.controls let i=index">
                <tr>
                    <td class="text-table-value" data-label="NA">{{tableObj.get('entityRange')?.value}}</td>
                    <td data-label="NA">
                    <div class="input-box text-align-center">
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="entityRangeValue">
                        </div>
                    </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="boader">
            <button mat-raised-button class="button" color="basic" type="button" (click)="resetFrom()">Reset</button>
            <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <button mat-raised-button class="button" color="primary" type="submit">Update</button>
          </div>
        </form>
    </mat-expansion-panel>
    
          </mat-accordion>
    </mat-card-content>  
      
</mat-card>


