<div class="container">
    <div class="content">
        <mat-card class="maincard">
            <mat-tab-group >

<!-- content customisation -- start -->

<mat-tab label="Content customisation">
    
        <div class="tab__content">
            <div class="blue-ribon">
               Content Customization
            </div>
            <div class="content-eliment">
               <div class="txt-box1">
                  <h3 class="m-0">Man Days effort for customization per new client</h3>
               </div>
               <div class="blue-txt-box1">
                  <h3 class="m-0">260</h3>
               </div>
            </div>
            <mat-card>
               <table id="customers">
                  <thead>
                     <tr class="table-container-top2">
                        <th scope="col">Resource Mix</th>
                        <th scope="col">NA</th>
                        <th scope="col">Ratio</th>
                        <th scope="col">Number of Man Days</th>
                        <th scope="col">Man Month</th>
                        <th scope="col">Monthly CTC</th>
                        <th scope="col">NA</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td data-label="Resource Mix">Supervisor</td>
                        <td data-label="NA">&nbsp;</td>
                        <td data-label="Ratio">&nbsp;</td>
                        <td data-label="Number of Man Days">&nbsp;</td>
                        <td data-label="Man Month">&nbsp;</td>
                        <td data-label="Monthly CTC">&nbsp;</td>
                        <td data-label="NA">&nbsp;</td>
                     </tr>
                     <tr>
                        <td data-label="NA">&nbsp;</td>
                        <td data-label="Resource Mix">Partner</td>
                        <td data-label="Ratio">
                           <div class="form-group">
                              <input type="text" class="form-control" placeholder="Text input" value="0.05">
                           </div>
                        </td>
                        <td data-label="Number of Man Days">12.98 </td>
                        <td data-label="Man Month">0.71</td>
                        <td data-label="Monthly CTC">
                           <div class="form-group">
                              <input type="text" class="form-control" placeholder="Text input" value="1,00,000">
                           </div>
                        </td>
                        <td data-label="NA">94,838</td>
                     </tr>
                     <tr>
                        <td data-label="NA">&nbsp;</td>
                        <td data-label="Resource Mix">AVP/VP</td>
                        <td data-label="Ratio">
                           <div class="form-group">
                              <input type="text" class="form-control" placeholder="Text input" value="0.2">
                           </div>
                        </td>
                        <td data-label="Number of Man Days">51.91 </td>
                        <td data-label="Man Month">2.83</td>
                        <td data-label="Monthly CTC">
                           <div class="form-group">
                              <input type="text" class="form-control" placeholder="Text input" value="1,00,000">
                           </div>
                        </td>
                        <td data-label="NA">3,77,530</td>
                     </tr>
                     <tr>
                        <td data-label="NA">&nbsp;</td>
                        <td data-label="Resource Mix">Manager/Sr. Mngr</td>
                        <td data-label="Ratio">
                           <div class="form-group">
                              <input type="text" class="form-control" placeholder="Text input" value="0.35">
                           </div>
                        </td>
                        <td data-label="Number of Man Days">90.84 </td>
                        <td data-label="Man Month">4.96</td>
                        <td data-label="Monthly CTC">
                           <div class="form-group">
                              <input type="text" class="form-control" placeholder="Text input" value="1,00,000">
                           </div>
                        </td>
                        <td data-label="NA">6,60,678</td>
                     </tr>
                     <tr>
                        <td data-label="NA">&nbsp;</td>
                        <td data-label="Resource Mix">Sr. Ass / Asst. Mngr / Ass.</td>
                        <td data-label="Ratio">
                           <div class="form-group">
                              <input type="text" class="form-control" placeholder="Text input" value="0.04">
                           </div>
                        </td>
                        <td data-label="Number of Man Days">103.82 </td>
                        <td data-label="Man Month">5.66</td>
                        <td data-label="Monthly CTC">
                           <div class="form-group">
                              <input type="text" class="form-control" placeholder="Text input" value="1,00,000">
                           </div>
                        </td>
                        <td data-label="NA">7,55,060</td>
                  </tbody>
               </table>
              <mat-card-content>
                 <mat-grid-list class="belowTable" cols="2" rowHeight="3:1">
                     <mat-grid-tile>
                         <div class="fromFild">
                             <mat-card-header class="header1"><h1 >Occupancy %</h1></mat-card-header>
                             <div class="fromContent">
                                 <mat-card-content>
                                     <form action="">
                                     <div class="lableFrom">
                                         <label  for="">Content Customization/ <br> Creation Publishing</label>
                                         <div class="inputFrom"><input type="text"  name="" ></div>
                                     </div>   
                                   </form>
                                 </mat-card-content>
                             </div>
                         </div>  
                      </mat-grid-tile>
                      <span class="vertical-line"></span>
                     <mat-grid-tile>
                         <div class="fromFild">
                             <mat-card-header class="header2"><h1 >Productivity %</h1></mat-card-header>
                             <div class="fromContent">
                                 <mat-card-content>
                                     <form action="">
                                     <div class="lableFrom">
                                         <label  for="">Content Updates</label>
                                         <div class="inputFrom2"><input type="text"  name="" ></div>
                                     </div>   
                                   </form>
                                 </mat-card-content>
                             </div>
                         </div> 
                     </mat-grid-tile>
                     
                 </mat-grid-list>
              </mat-card-content>
               <div class="blue-ribon2"></div>
               <div class="boader">
                 <button mat-raised-button class="button" color="basic" type="button">Reset</button>
                 <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                 <button mat-raised-button class="button" color="primary" type="button">Check</button>
               </div>
            </mat-card>
            <mat-card>
               <div class="resultDiv">
               <div class="resltLable">Total Cost for Content Updates</div>
               <div class="resltValue">18,87,651 </div>
               </div> 
               <div class="buttonDiv">
                 <button mat-raised-button class="button" color="primary" type="button">Save</button>
                 <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                 <button mat-raised-button class="button" color="basic" type="button">Cancel</button>
               </div>
            </mat-card>
         </div>
         
 </mat-tab>
    <!-- content customisation -- end--------->

     <!-- Content update -- start--------->

                <mat-tab label="Content update">
                    
                        <div class="tab__content">
                            <div class="blue-ribon">
                               Content Updates
                            </div>
                            <div class="content-eliment">
                               <div class="txt-box1">
                                  <h3 class="m-0">Man Days effort required for updates per client Per Year</h3>
                               </div>
                               <div class="blue-txt-box1">
                                  <h3 class="m-0">52</h3>
                               </div>
                            </div>
                            <mat-card>
                               <table>
                                  <thead>
                                     <tr class="table-container-top2">
                                        <th scope="col">Resource Mix</th>
                                        <th scope="col">NA</th>
                                        <th scope="col">Ratio</th>
                                        <th scope="col">Number of Man Days</th>
                                        <th scope="col">Man Month</th>
                                        <th scope="col">Monthly Payout</th>
                                        <th scope="col">Monthly CTC</th>
                                        <th scope="col">NA</th>
                                     </tr>
                                  </thead>
                                  <tbody>
                                     <tr>
                                        <td data-label="Resource Mix">Supervisor</td>
                                        <td data-label="NA">&nbsp;</td>
                                        <td data-label="Ratio"></td>
                                        <td data-label="Number of Man Days">&nbsp;</td>
                                        <td data-label="Man Month">&nbsp;</td>
                                        <td data-label="Monthly Payout">&nbsp;</td>
                                        <td data-label="Monthly CTC">&nbsp;</td>
                                        <td data-label="NA">&nbsp;</td>
                                     </tr>
                                     <tr>
                                        <td data-label="Resource Mix">Sr Manager</td>
                                        <td data-label="NA">Partner</td>
                                        <td data-label="Ratio">
                                           <div class="form-group">
                                              <input type="text" class="form-control" placeholder="Text input" value="0.05">
                                           </div>
                                        </td>
                                        <td data-label="Number of Man Days">2.60 </td>
                                        <td data-label="Man Month">0.14</td>
                                        <td data-label="Monthly Payout">
                                           <div class="form-group">
                                              <input type="text" class="form-control" placeholder="Text input" value="1,00,000">
                                           </div>
                                        </td>
                                        <td data-label="Monthly CTC">
                                           <div class="form-group">
                                              <input type="text" class="form-control" placeholder="Text input" value="1,00,000">
                                           </div>
                                        </td>
                                        <td data-label="NA">18,877</td>
                                     </tr>
                                     <tr>
                                        <td data-label="Resource Mix">Assistant Manager
                                        </td>
                                        <td data-label="NA">AVP/VP</td>
                                        <td data-label="Ratio">
                                           <div class="form-group">
                                              <input type="text" class="form-control" placeholder="Text input" value="0.1">
                                           </div>
                                        </td>
                                        <td data-label="Number of Man Days">5.19 </td>
                                        <td data-label="Man Month">0.28</td>
                                        <td data-label="Monthly Payout">
                                           <div class="form-group">
                                              <input type="text" class="form-control" placeholder="Text input" value="1,00,000">
                                           </div>
                                        </td>
                                        <td data-label="Monthly CTC">
                                           <div class="form-group">
                                              <input type="text" class="form-control" placeholder="Text input" value="1,00,000">
                                           </div>
                                        </td>
                                        <td data-label="NA">37,753</td>
                                     </tr>
                                     <tr>
                                        <td data-label="NA">&nbsp;</td>
                                        <td data-label="Resource Mix">Manager/Sr. Mngr</td>
                                        <td data-label="Ratio">
                                           <div class="form-group">
                                              <input type="text" class="form-control" placeholder="Text input" value="0.25">
                                           </div>
                                        </td>
                                        <td data-label="Number of Man Days">12.98 </td>
                                        <td data-label="Man Month">0.71</td>
                                        <td data-label="Monthly Payout">
                                           <div class="form-group">
                                              <input type="text" class="form-control" placeholder="Text input" value="1,00,000">
                                           </div>
                                        </td>
                                        <td data-label="Monthly CTC">
                                           <div class="form-group">
                                              <input type="text" class="form-control" placeholder="Text input" value="1,00,000">
                                           </div>
                                        </td>
                                        <td data-label="NA">94,383</td>
                                     </tr>
                                     <tr>
                                        <td data-label="NA">&nbsp;</td>
                                        <td data-label="Resource Mix">Sr. Ass / Asst. Mngr / Ass.</td>
                                        <td data-label="Ratio">
                                           <div class="form-group">
                                              <input type="text" class="form-control" placeholder="Text input" value="0.06">
                                           </div>
                                        </td>
                                        <td data-label="Number of Man Days">31.15 </td>
                                        <td data-label="Man Month">1.70</td>
                                        <td data-label="Monthly Payout">
                                           <div class="form-group">
                                              <input type="text" class="form-control" placeholder="Text input" value="1,00,000">
                                           </div>
                                        </td>
                                        <td data-label="Monthly CTC">
                                           <div class="form-group">
                                              <input type="text" class="form-control" placeholder="Text input" value="1,00,000">
                                           </div>
                                        </td>
                                        <td data-label="NA">2,265,518</td>
                                     </tr>
                                  </tbody>
                               </table>
                               <mat-card-content>
                                <mat-grid-list class="belowTable" cols="2" rowHeight="3:1">
                                    <mat-grid-tile>
                                        <div class="fromFild">
                                            <mat-card-header class="blueSubHeader">
                                                <h2>Number of available hours per month per resource</h2>
                                            </mat-card-header>
                                            <div class="fromContent">
                                                <mat-card-content>
            
                                                    <div>
                                                        <h2>18.33</h2>
                                                    </div>   
                                                
                                                </mat-card-content>
                                            </div>
                                        </div>  
                                     </mat-grid-tile>
                                     <span class="vertical-line"></span>
                                    <mat-grid-tile>
                                       <div class="fromFild">
                                            <mat-card-header class="blueSubHeader">
                                                <h2>Productivity %</h2>
                                            </mat-card-header>
                                            <div class="fromContent">
                                                <mat-card-content>
            
                                                    <div>
                                                        <h2>75%</h2>
                                                    </div>   
                                                
                                                </mat-card-content>
                                            </div>
                                        </div>
                                    </mat-grid-tile>
                                    
                                </mat-grid-list>
                             </mat-card-content>
                              <div class="blue-ribon2"></div>
                              <div class="boader">
                                <button mat-raised-button class="button" color="basic" type="button">Reset</button>
                                <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <button mat-raised-button class="button" color="primary" type="button">Check</button>
                              </div>
                            </mat-card>
                            <mat-card>
                                <div class="resultDiv">
                                <div class="resltLable">Total Cost for Content Updates</div>
                                <div class="resltValue">3,77,530 </div>
                                </div> 
                                <div class="buttonDiv">
                                  <button mat-raised-button class="button" color="primary" type="button">Save</button>
                                  <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                  <button mat-raised-button class="button" color="basic" type="button">Cancel</button>
                                </div>
                             </mat-card>
                         </div>
                     
                   
                </mat-tab>
            <!-- Content update -- end--------->

            <!-- Customer support -- start--------->

                <mat-tab label="Customer support"> 
                                <div class="tab__content">
                                    <div class="blue-ribon">
                                       Customer Support - Cost per license per annum
                                    </div>
                                </div>
                                
                                    <div class="content-eliment">
                                       <div class="txt-box1 mb-1">
                                          <h3 class="m-0">Number of calls per user per month</h3>
                                       </div>
                                       <div class="blue-txt-box1 mb-1 pb-1 pt-1">
                                          <div class="form-group m-0">
                                             <input type="text" class="thirdTabTextFild" placeholder="Text input" value="0.1">
                                          </div>
                                       </div>
                                       <div class="txt-box1 mt-1">
                                          <h3 class="m-0">Standard time required per call in Mins</h3>
                                       </div>
                                    </div>
                                       <div class="blue-txt-box1 mt-1 pb-1 pt-1">
                                          <div class="form-group m-0">
                                             <input type="text" class="thirdTabTextFild" placeholder="Text input" value="10">
                                          </div>
                                       </div>
                            

                            <mat-card-subtitle >
                                <div class="resultDiv1">
                                    <div class="resltLable1">Marketing spend per Komrisk Client per annum</div>
                                    <div class="resltValue1">1,00,000</div>
                                </div>
                            </mat-card-subtitle>                             
                               

                               <mat-card-content class="card2">
                                 <mat-grid-list class="belowTable2" cols="2" rowHeight="3:1">
                                    <mat-grid-tile>
                                        <div class="fromFild">
                                            <mat-card-header class="header1"><h1>Productivity %</h1></mat-card-header>
                                            <div class="fromContent">
                                                <mat-card-content>
                                                    
                                                    <div>
                                                        <h2>75%</h2>
                                                    </div>   
                                                  
                                                </mat-card-content>
                                            </div>
                                        </div>  
                                     </mat-grid-tile>
                                     <span class="vertical-line"></span>

                                    <mat-grid-tile>
                                        <div class="fromFild">
                                            <mat-card-header class="header2"><h1 >Required Man Days</h1></mat-card-header>
                                            <div class="fromContent">
                                                <mat-card-content>
                                                    
                                                    <div>
                                                        <h2>0.00</h2>
                                                    </div>   
                                                 
                                                </mat-card-content>
                                            </div>
                                        </div> 
                                    </mat-grid-tile>
                                    
                                </mat-grid-list>
                               </mat-card-content>

                             <mat-card>
                               <table>
                                  <thead>
                                     <tr class="table-container-top2">
                                        <th scope="col">Resource Mix</th>
                                        <th scope="col">NA</th>
                                        <th scope="col">Ratio</th>
                                        <th scope="col">Number of Man Days</th>
                                        <th scope="col">Man Month</th>
                                        <th scope="col">Monthly Payout</th>
                                        <th scope="col">Monthly CTC</th>
                                        <th scope="col">NA</th>
                                     </tr>
                                  </thead>
                                  <tbody>
                                     <tr>
                                        <td data-label="Resource Mix">Team Leader</td>
                                        <td data-label="NA">Team Lead</td>
                                        <td data-label="Ratio">
                                           <div class="form-group">
                                              <input type="text" class="form-control" placeholder="Text input" value="1">
                                           </div>
                                        </td>
                                        <td data-label="Number of Man Days">0.00 </td>
                                        <td data-label="Man Month">0.14</td>
                                        <td data-label="Monthly Payout">
                                           <div class="form-group">
                                              <input type="text" class="form-control" placeholder="Text input" value="10,00,000">
                                           </div>
                                        </td>
                                        <td data-label="Monthly CTC">
                                           <div class="form-group">
                                              <input type="text" class="form-control" placeholder="Text input" value="12,00,000">
                                           </div>
                                        </td>
                                        <td data-label="NA">48</td>
                                     </tr>
                                     <tr>
                                        <td data-label="Resource Mix"> &nbsp;
                                        </td>
                                        <td data-label="NA">Customer Executives</td>
                                        <td data-label="Ratio">
                                           <div class="form-group">
                                              <input type="text" class="form-control" placeholder="Text input" value="3">
                                           </div>
                                        </td>
                                        <td data-label="Number of Man Days">0.00 </td>
                                        <td data-label="Man Month">0.28</td>
                                        <td data-label="Monthly Payout">
                                           <div class="form-group">
                                              <input type="text" class="form-control" placeholder="Text input" value="1,00,000">
                                           </div>
                                        </td>
                                        <td data-label="Monthly CTC">
                                           <div class="form-group">
                                              <input type="text" class="form-control" placeholder="Text input" value="1,20,000">
                                           </div>
                                        </td>
                                        <td data-label="NA">15</td>
                                     </tr>
                                  </tbody>
                               </table>
                               <br>
                               <br>
                            
                               <div class="resultDiv">
                                <div class="resltLable">Number of days available per month per resource</div>
                                <div class="resltValue">18.33</div>
                                </div> 
                                <div class="buttonDiv">
                                  <button mat-raised-button class="button" color="basic" type="button">Reset</button>
                                  <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                  <button mat-raised-button class="button" color="primary" type="button">Check</button>
                                </div>
                             </mat-card>

                            <mat-card>
                                <div class="resultDiv">
                                <div class="resltLable">Total Cost for Content Updates</div>
                                <div class="resltValue">756.36  </div>
                                </div> 
                                <div class="buttonDiv">
                                  <button mat-raised-button class="button" color="primary" type="button">Save</button>
                                  <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                  <button mat-raised-button class="button" color="basic" type="button">Cancel</button>
                                </div>
                             </mat-card>
                        </mat-tab>
            <!-- Customer support -- end--------->

            <!-- Application management -- start--------->

                <mat-tab label="Application management">
                    <div class="tab__content">
                        <div class="blue-ribon">
                           Application Management - Cost per license per annum
                        </div>
                    </div>
                        <mat-card>
                        <div class="content-eliment1">
                           <table>
                              <thead>
                                 <tr class="table-container-top2">
                                    <th scope="col">NA</th>
                                    <th scope="col">NA</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td data-label="NA">Number of Servers managed per resource</td>
                                    <td data-label="NA">
                                       <div class="input-box">
                                          <div class="form-group">
                                             <input type="text" class="form-control" placeholder="Text input" value="1">
                                          </div>
                                       </div>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td data-label="NA">Resource Cost CTC</td>
                                    <td data-label="NA">
                                       <div class="input-box">
                                          <div class="form-group">
                                             <input type="text" class="form-control" placeholder="Text input" value="1">
                                          </div>
                                       </div>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td data-label="NA">Number of licenses per server</td>
                                    <td data-label="NA">
                                       <div class="input-box">
                                          <div class="form-group">
                                             <input type="text" class="form-control" placeholder="Text input" value="1">
                                          </div>
                                       </div>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                           </div>


                           <mat-card-content class="card2">
                          <mat-grid-list class="belowTable2" cols="2" rowHeight="3:1">
                                    <mat-grid-tile>
                                        <div class="fromFild">
                                            <mat-card-header class="header1"><h1>Productivity %</h1></mat-card-header>
                                            <div class="fromContent">
                                                <mat-card-content>
                                                    
                                                    <div>
                                                        <h2>75%</h2>
                                                    </div>   
                                                  
                                                </mat-card-content>
                                            </div>
                                        </div>  
                                     </mat-grid-tile>
                                     <span class="vertical-line"></span>

                                    <mat-grid-tile>
                                        <div class="fromFild">
                                            <mat-card-header class="header2"><h1 >Required Man Days</h1></mat-card-header>
                                            <div class="fromContent">
                                                <mat-card-content>
                                                    
                                                    <div>
                                                        <h2>0.00</h2>
                                                    </div>   
                                                 
                                                </mat-card-content>
                                            </div>
                                        </div> 
                                    </mat-grid-tile> 
                                </mat-grid-list>  
                                    <div class="resultDiv">
                                    <div class="resltLable">Number of days available per month per resource</div>
                                    <div class="resltValue">18.33</div>
                                    </div> 
                                    <div class="buttonDiv">
                                      <button mat-raised-button class="button" color="basic" type="button">Reset</button>
                                      <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                      <button mat-raised-button class="button" color="primary" type="button">Check</button>
                                    </div>
                            </mat-card-content>

                     </mat-card>
                     <mat-card>
                        <div class="resultDiv">
                        <div class="resltLable">Cost Per license per annum</div>
                        <div class="resltValue">64</div>
                        </div> 
                        <div class="buttonDiv">
                          <button mat-raised-button class="button" color="primary" type="button">Save</button>
                          <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                          <button mat-raised-button class="button" color="basic" type="button">Cancel</button>
                        </div>
                     </mat-card>
        </mat-tab>
            <!-- Application management -- end--------->
             <!--Hosting Chargest start-->

<mat-tab label="Hosting charges">
         
            <div class="">
                <div class="blue-ribon">
                   Hosting Charges - Cost per license per annum
                </div>
            </div>
            
        <mat-card>
                <div class="tableHost">
                   <table>
                      <thead>
                         <tr class="table-container-top2">
                            <th scope="col">NA</th>
                            <th scope="col">NA</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <td data-label="NA">Cost per  server per month</td>
                            <td data-label="NA">
                               <div class="input-box">
                                  <div class="form-group">
                                     <input type="text" class="form-control" placeholder="Text input" value="1,00,000">
                                  </div>
                               </div>
                            </td>
                         </tr>
                         <tr>
                            <td data-label="NA">Number of licenses per server</td>
                            <td data-label="NA">
                               <div class="input-box">
                                  <div class="form-group">
                                     <input type="text" class="form-control" placeholder="Text input" value="5,000">
                                  </div>
                               </div>
                            </td>
                         </tr>
                         <tr>
                      </tbody>
                    </table>
                </div>
                <div class="buttonDiv">
                    <button mat-raised-button class="button" color="basic" type="button">Reset</button>
                    <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <button mat-raised-button class="button" color="primary" type="button">Check</button>
                  </div>
                </mat-card>

                   
           

        
       <mat-card>
        <div class="resultDiv">
        <div class="resltLable">Cost per license per annum</div>
        <div class="resltValue">320</div>
        </div> 
        <div class="buttonDiv">
          <button mat-raised-button class="button" color="primary" type="button">Save</button>
          <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <button mat-raised-button class="button" color="basic" type="button">Cancel</button>
        </div>
    </mat-card>
 </mat-tab>
        <!--Hosting Charges end-->

                
                    <!--Software Development & Update start-->
                    <mat-tab label="Software development and update">
                    <div class="tab__content">
                       <div class="blue-ribon">
                          Software Development 
                       </div>
                       
                       <mat-card>
                        <div class="tableHost2">
                            <table>
                               <thead>
                                  <tr class="table-container-top2">
                                     <th scope="col">NA</th>
                                     <th scope="col">NA</th>
                                  </tr>
                               </thead>
                               <tbody>
                                  <tr>
                                     <td data-label="NA">Payment made to IQSS for Software Development</td>
                                     <td data-label="NA">
                                        <div class="input-box">
                                           <div class="form-group">
                                              <input type="text" class="form-control" placeholder="Text input" value="1,00,00,000">
                                           </div>
                                        </div>
                                     </td>
                                  </tr>
                               </tbody>
                            </table>
                         </div>

                         <div class="buttonDiv">
                            <button mat-raised-button class="button" color="basic" type="button">Reset</button>
                            <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <button mat-raised-button class="button" color="primary" type="button">Check</button>
                          </div>
                       </mat-card>

                    
                       <div class="blue-ribon">
                          Software Update 
                       </div>
                          
                    <mat-card>
                        <div class="tableHost3">
                        <table>
                            <thead>
                               <tr class="table-container-top2">
                                  <th scope="col">NA</th>
                                  <th scope="col">NA</th>
                               </tr>
                            </thead>
                            <tbody>
                               <tr>
                                  <td data-label="NA">Annual Software spend planned</td>
                                  <td data-label="NA">
                                     <div class="input-box">
                                        <div class="form-group">
                                           <input type="text" class="form-control" placeholder="Text input" value="1,00,000">
                                        </div>
                                     </div>
                                  </td>
                               </tr>
                               <tr>
                                  <td data-label="NA">Number of new clients added	</td>
                                  <td data-label="NA">
                                     <div class="input-box">
                                        150
                                     </div>
                                  </td>
                               </tr>
                               <tr>
                                  <td data-label="NA">Average license per client</td>
                                  <td data-label="NA">
                                     <div class="input-box">
                                        <div class="form-group">
                                           <input type="text" class="form-control" placeholder="Text input" value="50">
                                        </div>
                                     </div>
                                  </td>
                               </tr>
                               <tr>
                                  <td data-label="NA">Probabilty %</td>
                                  <td data-label="NA">
                                     <div class="input-box">
                                        80%
                                     </div>
                                  </td>
                               </tr>
                               <tr>
                                  <td data-label="NA">Cost per client per annum</td>
                                  <td data-label="NA">
                                     <div class="input-box">
                                        833
                                     </div>
                                  </td>
                               </tr>
                            </tbody>
                         </table>
                        </div>
                        <div class="buttonDiv">
                            <button mat-raised-button class="button" color="primary" type="button">Save</button>
                            <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <button mat-raised-button class="button" color="basic" type="button">Cancel</button>
                          </div>
                    </mat-card>
                       
                    
                        <mat-card>
                            <div class="resultDiv">
                                <div class="resltLable">Software Development Cost Capitalised</div>
                                <div class="resltValue">1,00,00,000</div>
                            </div>
                            <div class="resultDiv">
                                <div class="resltLable">Cost per license per annum</div>
                                <div class="resltValue">1,00,00,000</div>
                            </div>
                            <div class="buttonDiv">
                                <button mat-raised-button class="button" color="primary" type="button">Save</button>
                                <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <button mat-raised-button class="button" color="basic" type="button">Cancel</button>
                            </div>
                        </mat-card>
                       </div>
                    </mat-tab>
                    <!--Software Development & Update end-->
                <!--Content Cost start-->
                <mat-tab label="Content cost">    
                <div class="tab__content">
                    <div class="blue-ribon">
                    Content Cost 
                    </div>
                    <div class="coll2">
                    <h3>Content Cost Capitalised in FY 11-12 and FY 12-13</h3>
                    </div>
                </div>
                    <mat-card>
                    <div class="tableHost">
                        <table>
                            <thead>
                                <tr class="table-container-top2">
                                    <th scope="col">NA</th>
                                    <th scope="col">NA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-label="NA">FY 11-12</td>
                                    <td data-label="NA">
                                    <div class="input-box">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Text input" value="1,00,000">
                                        </div>
                                    </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td data-label="NA">FY 12-13</td>
                                    <td data-label="NA">
                                    <div class="input-box">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Text input" value="1,00,000">
                                        </div>
                                    </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        <div class="buttonDiv">
                            <button mat-raised-button class="button" color="basic" type="button">Reset</button>
                            <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <button mat-raised-button class="button" color="primary" type="button">Check</button>
                        </div>
                    </mat-card>
                    
                    <mat-card>
                        <div class="col-sm-12 blue-ribon">Content Cost Capitalised</div>
                        <div class="buttonDiv">
                            <button mat-raised-button class="button" color="primary" type="button">Save</button>
                            <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <button mat-raised-button class="button" color="basic" type="button">Cancel</button>
                          </div>
                    </mat-card>
                    
                
                </mat-tab>
                <!--Content Cost end-->

                
                    <!--Komrisk Marketing Spend start-->

                    <mat-tab label="Komrisk Marketing Spend">    
                        <div class="tab__content">
                            <div class="blue-ribon">
                                Komrisk Marketing Spend
                            </div>
                        </div>
                            <mat-card>
                            <div class="tableHost">
                                <table>
                                    <thead>
                                        <tr class="table-container-top2">
                                            <th scope="col">NA</th>
                                            <th scope="col">NA</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td data-label="NA">Marketing Spend per Annum</td>
                                            <td data-label="NA">
                                            <div class="input-box">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Text input" value="1,00,000">
                                                </div>
                                            </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-label="NA">Number of new Komrisk Clients</td>
                                            <td data-label="NA">
                                            <div class="input-box">
                                                <div class="form-group">
                                                    <h2>150</h2>
                                                </div>
                                            </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                                <div class="buttonDiv">
                                    <button mat-raised-button class="button" color="basic" type="button">Reset</button>
                                    <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <button mat-raised-button class="button" color="primary" type="button">Check</button>
                                </div>
                            </mat-card>
                            
                            <mat-card>
                                <div class="resultDiv">
                                    <div class="resltLable">Marketing spend per Komrisk Client per annum</div>
                                    <div class="resltValue">1,00,000</div>
                                </div>
                                <div class="buttonDiv">
                                    <button mat-raised-button class="button" color="primary" type="button">Save</button>
                                    <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <button mat-raised-button class="button" color="basic" type="button">Cancel</button>
                                  </div>
                            </mat-card>

                     <!--Komrisk Marketing Spend end-->

                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>

