
<!-- <app-card></app-card> -->
<div class="content-body">
    <mat-card>
        <p class="lexlogo">
            <img class="companyLogo" src="../assets/img/ISO-LEXPLOSION-LOGO-1Rinv.svg" alt="" width="15%">
        </p>
        <!-- <app-login-form></app-login-form> -->
        <!-- <app-user-home-page></app-user-home-page> -->
        <!-- <app-master-data-from></app-master-data-from> -->
        <!-- <app-admin-page></app-admin-page> -->
        
        <mat-card-content>
            <router-outlet></router-outlet>
        </mat-card-content>

        <mat-card-footer>
            <span class="footer">  <h3>Lexplosion Solutions Private Limited @2022 | &nbsp;</h3> <h3 style=" color: rgb(61, 107, 255);">Teams of Service | Privacy Policy | Contact Us</h3></span>
        </mat-card-footer>
    </mat-card>
</div>
