html, body {margin: 0; height: 100%; overflow: hidden}
mat-card{
    overflow: hidden;  
    background-image: url("../assets/img/Login-bg.svg" );
    /* animation: 2s 1 logolaunch; */
}
/* @keyframes logolaunch{
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 0.9;
    }
}    */
mat-card-footer{ 
    width: 100%;
    text-align: center;
    padding-left: 12%;
    padding-top: 0px;

}
.lexlogo{
    padding-left: 4%;
    padding-top: 0%;
}
.footer{
    display: flex;
    padding-left: 13%;
    color: antiquewhite;
}

.companyLogo{
    animation: 3s 1 logolaunch;
}

@keyframes logolaunch{
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 0.9;
    }
}
