<mat-card>
    <mat-card class="card1">
        <table>
            <thead>
            <tr>
                <th width="50%">Nmae</th>
                <th width="50%">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Contend Standard Creation time</td>
                <td><input type="text"></td>
            </tr>
            </tbody>
        </table>
        <br>
        <div class="buttonDiv">
            <button mat-raised-button class="button" color="basic" type="button">Reset</button>
            <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <button mat-raised-button class="button" color="primary" type="button">Save</button>
        </div>
    </mat-card>

    <br>

    <mat-card class="card1">
        <form>
            <table>
                <thead>
                <tr>
                    <th width="50%">Details</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Deploymenat Model</td>
                    <td><input type="text"></td>
                </tr>
                <tr >
                    <td>Deploymenat Model</td>
                    <td>
                        <select name="cars" id="cars" class="dropDown">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                      </select>
                    </td>
                </tr>
                <tr>
                    <td>Man day's for content customisation/creation/publishing compliances</td>
                    <td>260</td>
                </tr>
                <tr>
                    <td>Men's day effort required for content update for the client per year</td>
                    <td>51.91</td>
                </tr>
                <tr>
                    <td>In case deployment model is onside what is your IT effort estimate</td>
                    <td>
                        <select class="dropDown">
                            <option value="volvo">High</option>
                            <option value="saab">Low</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>License fee Moratarium in months</td>
                    <td>
                        <select class="dropDown">
                            <option value="volvo">No</option>
                            <option value="saab">Yes</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Number of Days available in a month</td>
                    <td>18</td>
                </tr>
                <tr>
                    <td>Number of Licenses Sold</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>Content created by external consultants</td>
                    <td>
                        <select class="dropDown">
                            <option value="volvo">No</option>
                            <option value="saab">Yes</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Is the above content exclusive to client "Exclusive" or can be used by Lexplosion for other clients "Generic"</td>
                    <td>
                        <select class="dropDown">
                            <option value="volvo">Exclusive</option>
                            <option value="saab">Generic</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Cost of Content prepared by external consultant</td>
                    
                </tr>
                <tr>
                    <td>Productivity %</td>
                    <td><input type="text" value="75%"></td>
                </tr>
                <tr>
                    <td>Occupancy %</td>
                    <td><input type="text" value="50%"></td>
                </tr>
                <tr>
                    <td>80%</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Number of New Clients Proposed to be added in FY 14-15</td>
                    <td><input type="text" value="150"></td>
                </tr>
                <tr>
                    <td>Average licenses proposed to be sold this in FY 14-15</td>
                    <td><input type="text" value="20"></td>
                </tr>
                <tr>
                    <td>Profitablity Benchmark</td>
                    <td><input type="text" value="Standard"></td>
                </tr>
                </tbody>
            </table>
        </form>
        <br>
        <div class="buttonDiv">
            <button mat-raised-button class="button" color="basic" type="button">Reset</button>
            <span style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <button mat-raised-button class="button" color="primary" type="button">Save</button>
        </div>
    </mat-card>
</mat-card>